@model ProductType

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a New Product Type</h2>

@using (Html.BeginForm()) {
    @Html.LabelFor(pt => pt.Name)
    @Html.TextBoxFor(pt => pt.Name) 
    <input type="submit" value="Add" />
}
